*,
::after,
::before {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}
html {
  background: #efefef;
  font-size: 62.5%;
}

body {
  font-family: source-han-sans-japanese, serif;
  font-size: 16px;
  overflow-x: hidden;
  color: #333333;
  font-weight: 400;
  background: #fff;
  letter-spacing: 2px;
}

ul {
  font-size: 0rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Assets Css */
.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}
.grid.wide-900 {
  max-width: 900px;
  margin: auto;
}
.grid.wide-1000 {
    max-width: 1000px;
    margin: 0 auto;
}
.grid.wide-full {
  max-width: 1920px;
  margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.row.m-8px {
  margin-left: -8px;
  margin-right: -8px;
}
.row.m-10px {
    margin-left: -10px;
    margin-right: -10px;
}

.row.m-25px {
    margin-left: -25px;
    margin-right: -25px;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 15px;
    padding-right: 15px;
}
.col.p-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.col.p-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.col.p-25 {
    padding-left: 25px;
    padding-right: 25px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

.c-0 {
    display: none;
}

.c-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.c-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.c-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.c-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.c-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.c-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.c-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.c-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.c-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.c-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.c-o-1 {
    margin-left: 8.33333%;
}

.c-o-2 {
    margin-left: 16.66667%;
}

.c-o-3 {
    margin-left: 25%;
}

.c-o-4 {
    margin-left: 33.33333%;
}

.c-o-5 {
    margin-left: 41.66667%;
}

.c-o-6 {
    margin-left: 50%;
}

.c-o-7 {
    margin-left: 58.33333%;
}

.c-o-8 {
    margin-left: 66.66667%;
}

.c-o-9 {
    margin-left: 75%;
}

.c-o-10 {
    margin-left: 83.33333%;
}

.c-o-11 {
    margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 740px) {
 
    .m-0 {
        display: none;
    }

    .m-1,
    .m-2,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12 {
        display: block;
    }

    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .m-o-1 {
        margin-left: 8.33333%;
    }

    .m-o-2 {
        margin-left: 16.66667%;
    }

    .m-o-3 {
        margin-left: 25%;
    }

    .m-o-4 {
        margin-left: 33.33333%;
    }

    .m-o-5 {
        margin-left: 41.66667%;
    }

    .m-o-6 {
        margin-left: 50%;
    }

    .m-o-7 {
        margin-left: 58.33333%;
    }

    .m-o-8 {
        margin-left: 66.66667%;
    }

    .m-o-9 {
        margin-left: 75%;
    }

    .m-o-10 {
        margin-left: 83.33333%;
    }

    .m-o-11 {
        margin-left: 91.66667%;
    }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
  
    .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .l-0 {
        display: none;
    }

    .l-1,
    .l-2,
    .l-2-4,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
        display: block;
    }

    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .l-o-1 {
        margin-left: 8.33333%;
    }

    .l-o-2 {
        margin-left: 16.66667%;
    }

    .l-o-3 {
        margin-left: 25%;
    }

    .l-o-4 {
        margin-left: 33.33333%;
    }

    .l-o-5 {
        margin-left: 41.66667%;
    }

    .l-o-6 {
        margin-left: 50%;
    }

    .l-o-7 {
        margin-left: 58.33333%;
    }

    .l-o-8 {
        margin-left: 66.66667%;
    }

    .l-o-9 {
        margin-left: 75%;
    }

    .l-o-10 {
        margin-left: 83.33333%;
    }

    .l-o-11 {
        margin-left: 91.66667%;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 644px;
    }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 984px;
    }

    .wide .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .wide .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .wide .l-0 {
        display: none;
    }

    .wide .l-1,
    .wide .l-2,
    .wide .l-2-4,
    .wide .l-3,
    .wide .l-4,
    .wide .l-5,
    .wide .l-6,
    .wide .l-7,
    .wide .l-8,
    .wide .l-9,
    .wide .l-10,
    .wide .l-11,
    .wide .l-12 {
        display: block;
    }

    .wide .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .wide .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .wide .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .wide .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .wide .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .wide .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .wide .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .wide .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .wide .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .wide .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .wide .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .wide .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .wide .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .wide .l-o-1 {
        margin-left: 8.33333%;
    }

    .wide .l-o-2 {
        margin-left: 16.66667%;
    }

    .wide .l-o-3 {
        margin-left: 25%;
    }

    .wide .l-o-4 {
        margin-left: 33.33333%;
    }

    .wide .l-o-5 {
        margin-left: 41.66667%;
    }

    .wide .l-o-6 {
        margin-left: 50%;
    }

    .wide .l-o-7 {
        margin-left: 58.33333%;
    }

    .wide .l-o-8 {
        margin-left: 66.66667%;
    }

    .wide .l-o-9 {
        margin-left: 75%;
    }

    .wide .l-o-10 {
        margin-left: 83.33333%;
    }

    .wide .l-o-11 {
        margin-left: 91.66667%;
    }
}
/* font size */
.fs-11 {
  font-size: 11px !important;
}
.fs-13 {
  font-size: 13px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-15 {
  font-size: 15px !important;
}
.fs-17 {
  font-size: 17px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-19 {
  font-size: 19px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-21 {
  font-size: 21px !important;
}
.fs-22 {
  font-size: 22px !important;
}
.fs-24 {
  font-size: 24px !important;
}
.fs-25 {
  font-size: 25px !important;
}
.fs-26 {
  font-size: 26px !important;
}
.fs-28 {
  font-size: 28px !important;
}
.fs-30 {
  font-size: 30px !important;
}
.fs-31 {
  font-size: 31px !important;
}
.fs-32 {
  font-size: 32px !important;
}
.fs-35 {
  font-size: 35px !important;
}
.fs-40 {
  font-size: 40px !important;
}
.fs-42 {
  font-size: 42px !important;
}

.fw-regular {
  font-weight: 400;
}
.fw-medium {
  font-weight: 500;
}
.fw-bold {
  font-weight: 700;
}

.ws-nowrap {
  white-space: nowrap;
}
.under-line {
  text-decoration: underline;
}
.ls-10 {
  letter-spacing: 10px;
}
.ls-5 {
  letter-spacing: 5px;
}
.ls-1 {
  letter-spacing: 1px;
}
.lh-1 {
  line-height: 1;
}
.lh-1-5 {
  line-height: 1.5;
}
.lh-2 {
  line-height: 2;
}
.lh-3 {
  line-height: 3;
}

.clear {
  display: table;
  clear: both;
  width: 100%;
}

.row-reverse {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.align-items-start {
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}
.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}
.align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}
.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: start !important;
}
.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}
.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}
.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}
.width-full {
  width: 100%;
}
/* text align */
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-justify {
  text-align: justify !important;
}

/* margin - padding */
.mt-150 {
  margin-top: 150px !important;
}
.mb-150 {
  margin-bottom: 150px !important;
}
.mt-130 {
  margin-top: 130px !important;
}
.mb-130 {
  margin-bottom: 130px !important;
}
.mt-110 {
  margin-top: 110px !important;
}
.mb-110 {
  margin-bottom: 110px !important;
}
.mt-100 {
  margin-top: 100px !important;
}
.mb-100 {
  margin-bottom: 100px !important;
}
.mt-90 {
  margin-top: 90px !important;
}
.mb-90 {
  margin-bottom: 90px !important;
}
.mt-80 {
  margin-top: 80px !important;
}
.mb-80 {
  margin-bottom: 80px !important;
}
.mt-75 {
  margin-top: 75px !important;
}
.mb-75 {
  margin-bottom: 75px !important;
}
.mt-70 {
  margin-top: 70px !important;
}
.mb-70 {
  margin-bottom: 70px !important;
}
.mt-60 {
  margin-top: 60px !important;
}
.mb-60 {
  margin-bottom: 60px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mt-35 {
  margin-top: 35px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.ml--10 {
  margin-left: -10px !important;
}

.pt-150 {
  padding-top: 150px !important;
}
.pb-150 {
  padding-bottom: 150px !important;
}
.pt-140 {
  padding-top: 140px !important;
}
.pb-140 {
  padding-bottom: 140px !important;
}
.pt-130 {
  padding-top: 130px !important;
}
.pb-130 {
  padding-bottom: 130px !important;
}
.pt-120 {
  padding-top: 120px !important;
}
.pb-110 {
  padding-bottom: 110px !important;
}
.pt-100 {
  padding-top: 100px !important;
}
.pb-100 {
  padding-bottom: 100px !important;
}
.pt-90 {
  padding-top: 90px !important;
}
.pb-90 {
  padding-bottom: 90px !important;
}
.pt-80 {
  padding-top: 80px !important;
}
.pb-80 {
  padding-bottom: 80px !important;
}
.pt-75 {
  padding-top: 75px !important;
}
.pb-75 {
  padding-bottom: 75px !important;
}
.pt-60 {
  padding-top: 60px !important;
}
.pl-60 {
  padding-left: 60px !important;
}
.pb-60 {
  padding-bottom: 60px !important;
}
.pt-50 {
  padding-top: 50px !important;
}
.pb-50 {
  padding-bottom: 50px !important;
}
.pt-40 {
  padding-top: 40px !important;
}
.pb-40 {
  padding-bottom: 40px !important;
}
.pr-40 {
  padding-right: 40px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.pl-30 {
  padding-left: 30px !important;
}
.pr-30 {
  padding-right: 30px !important;
}
.pl-25 {
  padding-left: 25px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pr-20 {
  padding-right: 20px !important;
}
.pt-15 {
  padding-top: 15px !important;
}
.pb-15 {
  padding-bottom: 15px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
/* boder */
.bd-bottom {
  border-bottom: 1px solid;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}

/* Color */
.color-1 {
  color: #eb5924 !important;
}
.color-2 {
  color: #666666 !important;
}
.color-3 {
  color: #0071b7 !important;
}
.color-4 {
  color: #e71b24 !important;
}
.color-5 {
  color: #ec5a24 !important;
}
.color-white {
  color: white !important;
}
.bordercl-1 {
  border-color: #f6ab3b !important;
}
.bordercl-2 {
  border-color: #aeaeae !important;
}
.bordercl-3 {
  border-color: #ec5a24 !important;
}
.bordercl-4 {
  border-color: #f28d1e !important;
}
.bordercl-5 {
  border-color: #eb5924 !important;
}

.bgcl-1 {
  background-color: #fff8d7 !important;
}
.bgcl-2 {
  background-color: #ec5a24 !important;
}
.bgcl-white {
  background: white !important;
}
.p-relative {
  position: relative;
  z-index: 1;
}
/* btn */
.btn-style-1 {
display: flex;
padding: 12px 22px;
justify-content: space-between;
align-items: center;

color: black;
font-size: 20px;
font-weight: 500;
letter-spacing: 1px;
}

.btn-style-1:hover {
  opacity: 0.6;
  transition: opacity 0.6 ease-in-out;
}
.btn-style-1 p{
  position: relative;
  white-space: nowrap;
  padding-left: 20px;

}

.btn-style-1 p:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  display: block;
  border: 3px solid #f28d1e;
  border-radius: 50%;
}
.btn-style-1 img {
  height: 100%;
  width: auto;
}

 /* btn-style-2   */
.btn-style-2 {
position: relative;
display: flex;
height: 80px;
}
.btn-style-2 .btn-text {
  margin: auto;
  position: relative;
 font-size: 30px;
 text-align: center;
 font-weight: 500;
 line-height: 1;
 z-index: 1;
}
.btn-style-2 .btn-text::after {
  content:  "";
  position: absolute; 
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  display: block;
  width: 70px;
  height: 4px;
  background: #ec5a24;
}
.btn-style-2::after {
content: "";
position: absolute;
top: 0px;
left: 50%;
transform: translateX(-50%);
display: block;
width: 0px;
height: 0px;
border-style: solid;
border-width: 40px 105px;
border-color: transparent #fff8d7 #fff8d7 transparent;
}

/* btn-style-3 */
.btn-style-3 {
position: relative;
display: flex;
height: 80px;
}
.btn-style-3 .btn-text {
margin: auto;
position: relative;
color: #fff;
 font-size: 30px;
 text-align: center;
 font-weight: 500;
 line-height: 1;
 z-index: 1;
}
.btn-style-3::after {
content: "";
position: absolute;
top: 12px;
left: 50%;
transform: translateX(-50%);
display: block;
width: 210px;
height: 80px;
background: url(../../assets/images/icon/triangle_white.png)no-repeat center center;
background-size: auto 100%;
}
/* btn-style-4 */
.btn-style-4 {
  display: block;
  margin: auto;
  position: relative;
  font-size: 18px;
  width: 400px;
  padding: 20px 10px;
}
.btn-style-4::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  display: block;
  width: 25px;
  height: 16px;
  background: url(../../assets/images/icon/orange-arg-sm.png);
}
/* hover */
.hover-6:hover {
  opacity: 0.6;
}
.hover-style-1 {
  transition: all 0.5s ease;
}
.hover-style-1:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}
/* box */

/* box-style-1 */
.box-style-1 {
  padding-top: 25px;
  padding-bottom: 40px;
  border: 1px solid #ec5a24;
}
/* post */
/* post-style-1 */
.post-style-1 {
  position: relative;
  text-align: justify;
  padding-left: 25px;
}
.post-style-1::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ec5a24;
}
.post-style-1 .post-text {
  letter-spacing: 2px;
  line-height: 1.4;
  color: #333333;
}
/* date-post-link */
.date-post-link {
  display: flex;
  padding: 25px 0px;
  border-bottom: 1px solid #aeaeae;
  letter-spacing: 1px;
  text-align: left;
  font-size: 18px;
}
.date-post-link .date {
  padding-left: 40px;
  padding-right: 25px;
  color: #000;
}

.date-post-link .content {
  color: #333333;
}

/* link box */
.link-list .link-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    text-align: center;
}
.link-list .link-space {
    padding: 0px 10px;
}
.link-list .link {
    font-size: 18px;
    color:#333333;
}
/* text */
.box-name {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  color: #eb5924;
}
.box-heading {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  color: black;
}
.jp-heading {
  font-weight: 500;
  font-size: 35px;
}
.jp-title {
  font-weight: 400;
  font-size: 20px;
}
.jp-sub-title {
  color: #666666;
  font-weight: 700;
  font-size: 17px;
}

/* Header */
.header-container .time-box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
} 
.main-nav.wide {
  margin-top: 35px;
}
.main-nav.wide-full {
  position: fixed;
  top: 0px;
  padding: 5px 0px;
  background: #fff;
  z-index: 10;
}
.main-nav-inner {
  position: relative;
  display: flex;
}
.main-nav.wide-full .main-nav-inner {
  flex-direction: row-reverse;
  padding: 0px 10px;
}
.upper-list {
  position: absolute;
  right: 0px;
  top: -100px;
}
.main-nav.wide-full .upper-list {
  position: relative;
  top: 0px;
}

.main-nav.wide-full .upper-list .col:last-child {
  display: none;
}
.upper-list .upper-list-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 168px;
  height: 68px;
  padding: 0px 10px;
  border: 1px solid #ec5a24;
  text-align: left;
  color: #666666;
  z-index: 1;
}
.upper-list .upper-list-item:hover {
  opacity: 0.6;
}

.upper-list .upper-list-item::after {
  content: "";
  position: absolute;
  right: 0px;
  top: -1px;
  z-index: -1;
  display: block;
  border-style: solid;
  border-width: 33px 84px;
  border-color: transparent #fff8d7 #fff8d7 transparent;

}

.upper-list .upper-list-item p {
  letter-spacing: 1px;
  padding-left: 5px;
}
.upper-list__icon-left {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.main-nav-inner .menu-list {
  display: flex;
  flex-grow: 1;
}
.main-nav.wide-full .main-nav-inner .menu-list {
  padding-right: 10px;
}
.main-nav .list-item {
  position: relative;
  width: 100%;
  font-size: 19px;
}
.main-nav .list-item .link-item {
  display: block;
  position: relative;
  border-right: 1px solid #ccc;
  padding: 30px 0;
  color: black;
  text-align: center;
}

.main-nav .list-item:hover .link-item {
  opacity: .6;
  color: #ec5a24;
}
.main-nav .list-item:hover .link-item::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 2%;
  display: block;
  width: 96%;
  height: 0px;

  border-bottom: 3px solid #ec5a24;
}
.main-nav.wide-full .list-item .link-item {
  padding: 21px 0;
}
.main-nav .list-item:first-child .link-item {
  border-left: 1px solid #ccc;
}
/* sub nav */
.menu-list .list-item .sub-nav {
  position: absolute;
  width: calc(100% + 44px);
  left: -22px; 
  margin-top: -30px;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-in-out;
}

.menu-list .list-item:hover .sub-nav {
  visibility: visible;
  margin-top: 0px;
  opacity: 1;
}
.sub-nav .sub-nav-list {
  padding: 10px 0px;
  background: #fff;
}
/* founder-box */
.founder-box {
  display: flex;
}
.founder-box .info-box-item {
  display: flex;
}
/* accord */
.accord-link {
  position: relative;
  display: block;
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
  color: black;
  letter-spacing: 4px;
  font-size: 23px;
}
.accord-link::after {
  content: "";
  position: absolute;
  top: 50%; 
  right: 20px;
  transform: translateY(-50%);
  display: block;
  width: 44px;
  height: 44px;
  background: url(../../assets/images/icon/show_icon.png) no-repeat center center;
}

.accord-link.active::after {
  background: url(../../assets/images/icon/close-icon.png) no-repeat center center;
}
/* main */
main {
  width: 100%;
}
/* Footer */
#group.show a {
  display: block;
}

#group a {
  position: fixed;
  right: 140px;
  bottom: 70px;

  display: none;
  width: 60px;
  height: 60px;
  border: 1px solid #f5ac91;
}

#group a::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 16px 10px;
  border-color: transparent transparent #ec5a24 transparent;
}
.copy-right {
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: white;
  text-align: center;
}